<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orion.pasienqu_2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> -->
    <uses-permission android:name="com.android.vending.BILLING" /> <!-- <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> -->
    <!-- <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> -->
    <!--
 If your app doesn't need to access media files that other apps created,
         set the "maxSdkVersion" attribute to "28" instead.
    -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:name=".JApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon_pro"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_pro_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.more.google_drive.BackupDriveActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.more.google_drive.RestoreDriveActivity"
            android:exported="false" />
        <activity
            android:name=".activities.more.kirim_database.KirimDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.LovPatientSatuSehatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.satu_sehat.MedicalSatuSehatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.satu_sehat.location.LocationSatuSehatInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.satu_sehat.location.LocationSatuSehatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.satu_sehat.PractitionerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.delete_archive.DeleteArchive"
            android:exported="true" />
        <activity
            android:name=".activities.more.google_drive.BackupRestoreDrive"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.export.ExportActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.billing.BillingFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.record.RecordBillingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.export.ExportSuccessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.billing.BillingInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.record.FilterRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.record.RecordInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.export.ExportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.import_data.ImportDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.import_data_v1.ImportDataV1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.subaccount.SubaccountInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.subaccount.SubaccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.renew_subscriotion.RenewSubscriptionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.generate_patient_id.GeneratePatientIDActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.switch_language.SwitchLanguageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.change_password.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.edit_profile.EditProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.billing_template.BillingTemplateInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.billing_template.BillingTemplateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.pin_protection.PinProtectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.template.LovNoteTemplateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.patient.PatientInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.work_location.WorkLocationInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.work_location.WorkLocationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.work_location.FilterWorkLocationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.note_template.FilterNoteTemplateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.billing_template.FilterBillingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.syncronize_data.SyncronizeDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.more.pin_protection.PinProtectScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.billing.BillingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ZoomImage.ZoomImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login.ForgetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.note_template.NoteTemplateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.note_template.NoteTemplateInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.patient.FilterPatientActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.calendar.FilterCalendarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.calendar.CalendarInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.lov.LovCheckActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.more.data_migration.DataMigrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.home.home"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.splash_screen.SplashScreenSatuSehat"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="6.0.1" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>